---
const { title, url, color, ariaLabel, ariaCurrent } = Astro.props;

// Función para remover acentos y tildes
const removeAccents = (str: string): string => {
    return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
};

const newName = removeAccents(title).toLowerCase().replace(/\s+/g, "-");
---

<li class={`item-nav group-${newName}`}>
    <a
        href={url || "#"}
        data-url={url}
        class="text-white w-full h-full text-center text-base font-medium tracking-[0.16px] uppercase relative group"
        aria-label={ariaLabel || `Ir a ${title}`}
        aria-current={ariaCurrent}
        role="menuitem"
    >
        {title}
        <span
            class="absolute left-0 right-0 -bottom-1 h-0.5 scale-x-0 origin-center bg-white transition-all duration-300 group-hover:scale-x-100"
            style={`background-color: ${color}`}
            aria-hidden="true"
            role="presentation"
        ></span>
    </a>
</li>
